{% extends 'Cursos/index2.html' %}
{% load static %}
{% block content %}

<style>
      .table{
        background: #27CF7E; color: #fff; border: #DADADA 1px solid; font-size: 14px;
      }
      tbody{
        font-size: 12px; background: #DADADA; color: #000; border: #DADADA 1px;
      }


</style>
<!--breadcumb-->
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'cursos:index2' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cursos</li>
        </ol>
</nav>
<h1 class="text-center">Lista de Cursos</h1>
<div class="row  text-right">
    <div class="col botonera">
        <a href="#">
            <button class="btn btn-master" onclick = "abrir_modal_creacion('{% url 'cursos:crear' %}')"> <i class="fas fa-plus-circle" ></i> &nbsp;Agregar Cursos</button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
<table cellpadding="3" cellspacing="0" border="0" style="width: 100%; height: 50px; margin: 0 auto 0em auto;">
     
        <tbody>
            <tr id="filter_global">
                <td>
                    <form class="form-inline my-2 my-lg-0" method="get">
                            <input class="form-control mr-sm-2" type="search" aria-label="Search" id="buscar-operadores" placeholder="Buscar " name="buscar" style="width: 90%; height:30px;" value="{{request.GET.buscar}}" autofocus>
                                    <button style="width: 8%;" class="btn btn-outline-success my-2 my-sm-0" type="submit" id="boton-buscar">Buscar</button>
                    </form>     
                </td>
                
                <!--<td><input type="checkbox" class="global_filter" id="global_regex" checked="checked" style="opacity:0; position:absolute; left:9999px;"></td>
                <td><input type="checkbox" class="global_filter" id="global_smart" style="opacity:0; position:absolute; left:9999px;"></td>-->
            </tr>
        </tbody>
    </table>
    <table id="example" class=" table table-striped datatable" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>DESCRIPCION</th>
                <th>URL</th>
                <th>DURACION ESTIMADA</th>
                <th>CATEGORIAS</th>
                <th>NUM. LECTURAS</th>
                <th>NUM. VIDEOS</th>
                <th>REQUERIMIENTOS</th>
                <th>INSTRUCTORES</th>                
                <th>QUE APRENDERAS </th>
                <th>IDIOMA</th>
                <th>ES CURSO DE PRACTICA</th>
                <th>CATEGORIA PRIMARIA</th>
                <th>SUBCATEGORIA PRIMARIA</th>
                <th>NUM. QUIZZES</th>
                <th>NUM. PRACTICAS DE PRUEBA</th>
                <th>TIENE CAPTIONS</th>                
                <th>CAPTIONS</th>
                <th>DURACION DE VIDEO ESTIMADA</th>              
                <th>NIVEL DE EDUCACION</th>
                <th>KEYWORD</th>
                <th>EMPRESA</th>
                <th>USUARIO QUE ACTUALIZÓ</th>
                <th>ACCIONES</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>TITLE</td>
                <td>DESCRIPCION</td>
                <td>URL</td>
                <td>DURACION ESTIMADA</td>
                <td>CATEGORIAS</td>
                <td>NUM. LECTURAS</td>
                <td>NUM. VIDEOS</td>
                <td>REQUERIMIENTOS</td>
                <td>INSTRUCTORES</td>                
                <td>QUE APRENDERAS </td>
                <td>IDIOMA</td>
                <td>ES CURSO DE PRACTICA</td>
                <td>CATEGORIA PRIMARIA</td>
                <td>SUBCATEGORIA PRIMARIA</td>
                <td>NUM. QUIZZES</td>
                <td>NUM. PRACTICAS DE PRUEBA</td>
                <td>TIENE CAPTIONS</td>                
                <td>CAPTIONS</td>
                <td>DURACION DE VIDEO ESTIMADA</td>              
                <td>NIVEL DE EDUCACION</td>
                <td>KEYWORD</td>
                <td>EMPRESA</td>
                <td>USUARIO QUE ACTUALIZÓ</td>
                <td>ACCIONES</td>
            </tr>
        </thead>
        <tbody>
            {% for m in todos_m %}
            <tr>
                <td class= "adjutsted">{{ m.id_course }}</td>
                <td class= "adjutsted">{{ m.title }}</td>
                <td class= "scrollableCell">{{ m.description }}</td>
                <td class= "adjutsted"> <a href="{{ m.url }}">{{ m.url }}</a></td>
                <td class= "adjutsted">{{ m.estimated_content_length }}</td>
                <td class= "scrollableCell">{{ m.category }}</td>
                <td class= "adjutsted">{{ m.num_lectures }}</td>
                <td class= "adjutsted">{{ m.num_videos }}</td>
                <td class= "scrollableCell">{{ m.requirements }}</td>
                <td class= "adjutsted">{{ m.name }}</td>                
                <td class= "scrollableCell">{{ m.what_you_will_learn }}</td>
                <td class= "adjutsted">{{ m.locale_description }}</td>
                <td class= "adjutsted">{{ m.is_practice_test_course }}</td>
                <td class= "adjutsted">{{ m.primary_category }}</td>
                <td class= "adjutsted">{{ m.primary_subcategory }}</td>
                <td class= "adjutsted">{{ m.num_quizzes }}</td>
                <td class= "adjutsted">{{ m.num_practice_tests }}</td>
                <td class= "adjutsted">{{ m.has_closed_caption }}</td>
                <td class= "scrollableCell">{{ m.caption_languages }}</td>
                <td class= "adjutsted">{{ m.estimated_content_length_video }}</td>
                <td class= "adjutsted">{{ m.required_education }}</td>             
                <td class= "adjutsted">{{ m.keyword }}</td>
                <td class= "adjutsted">{{ m.empresa }}</td>
                <td class= "adjutsted">{{ m.user }}</td>
                <td class= "adjutsted">
                    <div class="text-center">
                        <a href="#" id='{{m.id}}'>
                            <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:actualizar' m.id %}')" style="background: transparent; color: green; font-size: 20px;"><i class="fas fa-pencil-alt"></i></button>
                        </a>
                        <a href="#" id='{{m.id}}'>
                            <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:eliminar' m.id %}')" style="background: transparent; color: red; font-size: 20px;"><i class="fas fa-trash"></i></button>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edicion" role="dialog">
    
</div>
<div class="modal fade" id="creacion" role="dialog">
    
</div>
<script>
$(document).ready(function() {
    $('#example thead td').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
  
    var table = $('#example').DataTable({
        dom: 'B<"top"i>rtlp',
        scrollX: "true",
        responsive: "true",
        select: {
            style: 'multi'
        },
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [ "_all" ] } 
          ],
        buttons: [
        {
                extend: 'selectAll',
                text: '<i class="fas fa-check-double"></i> ',
                titleAttr: 'Seleccionar todas',
                className: 'btn btn-success',
                
        },
        {
                extend: 'selectNone',
                text: '<i class="fas fa-check"></i> ',
                titleAttr: 'Deseleccionar',
                className: 'btn btn-success',
                
        },
        {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i> ',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-success',
                exportOptions: {
                    columns: ':visible',
                    modifier: {
                        selected: true
                    }
                }
                
            },
            {
                extend:    'colvis',
                text:      '<i class="fas fa-columns"></i> ',
                titleAttr: 'Escoger columnas',
                columns: ':not(.noVis)',
                className: 'btn btn-success',
                columnText: function ( dt, idx, title ) {
                    var mySubString = title.substring(
                        title.indexOf("Search") + 7, 
                        title.lastIndexOf(">") - 1
                    );
                    return (idx+1)+': '+mySubString;
        }
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            }
            
            /*{
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> ',
                titleAttr: 'Imprimir',
                className: 'btn btn-info'
            },*/
            ,
        ],
    });

    // Apply the filter
    $("#example thead input").on( 'keyup change', function () {
        table
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();
    } );
     
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
  
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
  
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );  

});


</script>

<script type="text/javascript">
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }

    function filterGlobal () {

        var barra = $('#global_filter').val();
        var or_string = " && ";
        var para_buscar = "";
        if(barra.indexOf(or_string) != -1){
            let myArray = barra.split(" && ");
            for (let i = 0; i < myArray.length; i++) {
                para_buscar = para_buscar+"(?=.*"+myArray[i]+")";
               // alert(para_buscar);
            }
            //alert("if "+para_buscar);
            //(?=.*word1)(?=.*word2)(?=.*word3)
        }else{
            para_buscar = barra;
        }
    $('#example').DataTable().search(
        para_buscar,
        $('#global_regex').prop('checked'),
        $('#global_smart').prop('checked')
    ).draw();
}
 
function filterColumn ( i ) {
    $('#example').DataTable().column( i ).search(
        $('#col'+i+'_filter').val(),
        $('#col'+i+'_regex').prop('checked'),
        $('#col'+i+'_smart').prop('checked')
    ).draw();
}
 
$(document).ready(function() {
    
 
    /*$('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    } );*/
    $('input.global_filter').on('keypress', function (e) {
         if(e.which === 13){

            //Disable textbox to prevent multiple submit
            $(this).attr("disabled", "disabled");

            filterGlobal();

            //Enable the textbox again if needed.
            $(this).removeAttr("disabled");
         }
   });
 
    $('input.column_filter').on( 'keyup click', function () {
        filterColumn( $(this).parents('tr').attr('data-column') );
    } );
} );
    

</script>

{% endblock %}