{% extends 'Cursos/index2.html' %}
{% load static %}
{% block content %}
<style>
      .table{
        background: #27CF7E; color: #fff; border: #DADADA 1px solid;font-weight: bold; font-size: 16px;
      }
      tbody{
        font-size: 14px; background: #DADADA; color: #000; border: #DADADA 1px solid;
      }
</style>
<!--breadcumb-->
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Cursos</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="#">Hijo1</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lista</a></li>
        </ol>
</nav>
<h1 class="text-center">Lista</h1>
<div class="row  text-right">
    <div class="col botonera">
        <a href="#">
            <button class="btn btn-master" onclick = "abrir_modal_creacion('{% url 'cursos:crear' %}')"> <i class="fas fa-plus-circle" ></i> &nbsp;Agregar Cursos</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lista Cursos</h5>
                <table class="table table-striped w-auto datatable"  id="myTable">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>TITLE</td>
                            <td>DESCRIPCION</td>
                            <td>URL</td>
                            <td>DURACION</td>
                            <td>TIENE SUBTITULOS</td>
                            <td>QUE APRENDERAS </td>
                            <td>SUBTITULOS</td>
                            <td>INSTRUCTORES</td>
                            <td>REQUERIMIENTOS</td>
                            <td>IDIOMA</td>
                            <td>CATEGORIAS</td>
                            <td>CATEGORIA PRIMARIA</td>
                            <td>NIVEL DE EDUCACION</td>
                            <td>ACCIONES</td>
                        </tr>
                    </thead>


                    <tbody>
                        {% if todos_m %}
                        {% for m in todos_m %}
                        <tr>
                            <td><small>{{ m.id_course }}</td>
                            <td><small>{{ m.title }}</td>
                            <td><small>{{ m.description }}</td>
                            <td><small>{{ m.url }}</td>
                            <td><small>{{ m.estimated_content_length }}</td>
                            <td><small>{{ m.has_closed_caption }}</td>
                            <td style="width: 50px; white-space: nowrap;"><small>
                                {% for chw in todos_CHW %}
                               
                                    {% if m.id == chw.course_id %}
                                        {{ chw.what_you_will_learn}}</br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chc in todos_CHC %}
                               
                                    {% if m.id == chc.course_id %}
                                        {{ chc.language}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chi in todos_CHI %}
                               
                                    {% if m.id == chi.course_id %}
                                        {{ chi.name}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chr in todos_CHR %}
                               
                                    {% if m.id == chr.course_id %}
                                        {{ chr.requirements}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chl in todos_CHL %}
                               
                                    {% if m.id == chl.course_id %}
                                        {{ chl.locale_description}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chc in todos_CHC %}
                               
                                    {% if m.id == chc.course_id %}
                                        {{ chc.category}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chpc in todos_CHP %}
                               
                                    {% if m.id == chpc.course_id %}
                                        {{ chpc.primary_category}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                {% for chre in todos_CHRE %}
                               
                                    {% if m.id == chre.course_id %}
                                        {{ chre.required_education}} </br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><small>
                                <div class="text-center">
                                    <a href="#" id='{{m.id}}'>
                                        <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:actualizar' m.id %}')" style="background: transparent; color: green; font-size: 20px;"><i class="fas fa-pencil-alt"></i></button>
                                    </a>
                                    <a href="#" id='{{m.id}}'>
                                        <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:eliminar' m.id %}')" style="background: transparent; color: red; font-size: 20px;"><i class="fas fa-trash"></i></button>
                                    </a>
                                </div>
                            </td></small>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1> No Hay Registros</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edicion" role="dialog">
    
</div>
<div class="modal fade" id="creacion" role="dialog">
    
</div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable({
        dom: 'Bfrtilp',
        scrollX: "true",
        responsive: "true",
        buttons: [{
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i> ',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-success'
            },
            /*{
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            },*/
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> ',
                titleAttr: 'Imprimir',
                className: 'btn btn-info'
            },
        ]
    });
});
</script>

<script type="text/javascript">
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }
    

</script>

{% endblock %}