{% extends 'Cursos/index2.html' %}
{% load static %}
{% block content %}

<style>
      .table{
        background: #27CF7E; color: #fff; border: #DADADA 1px solid; font-size: 14px;
      }
      tbody{
        font-size: 12px; background: #DADADA; color: #000; border: #DADADA 1px;
      }


</style>
<!--breadcumb-->
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Cursos</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="#">Hijo1</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lista</a></li>
        </ol>
</nav>
<h1 class="text-center">Lista de Cursos</h1>
<div class="row  text-right">
    <div class="col botonera">
        <a href="#">
            <button class="btn btn-master" onclick = "abrir_modal_creacion('{% url 'cursos:crear' %}')"> <i class="fas fa-plus-circle" ></i> &nbsp;Agregar Cursos</button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
<table cellpadding="3" cellspacing="0" border="0" style="width: 100%; height: 50px; margin: 0 auto 2em auto;">
     
        <tbody>
            <tr id="filter_global">
                <td align="center" style="font-size:20px">Search</td>
                <td><input type="text" class="global_filter" id="global_filter" style="width: 100%; height:30px"></td>
                <td><input type="checkbox" class="global_filter" id="global_regex" checked="checked" style="opacity:0; position:absolute; left:9999px;"></td>
                <td><input type="checkbox" class="global_filter" id="global_smart" style="opacity:0; position:absolute; left:9999px;"></td>
            </tr>
        </tbody>
    </table>
    <table id="example" class=" table table-striped w-auto datatable" style="width:100%">
        <thead>
            <tr>
                <td>ID</td>
                <td>TITLE</td>
                <td>DESCRIPCION</td>
                <td>URL</td>
                <td>DURACION</td>
                <td>TIENE SUBTITULOS</td>
                <td>QUE APRENDERAS </td>
                <td>SUBTITULOS</td>
                <td>INSTRUCTORES</td>
                <td>REQUERIMIENTOS</td>
                <td>IDIOMA</td>
                <td>CATEGORIAS</td>
                <td>CATEGORIA PRIMARIA</td>
                <td>NIVEL DE EDUCACION</td>
                <td>ACCIONES</td>
            </tr>
        </thead>
        <tbody>
            {% for m in todos_m %}
            <tr>
                <td>{{ m.id_course }}</td>
                <td>{{ m.title }}</td>
                <td>{{ m.description }}</td>
                <td>{{ m.url }}</td>
                <td>{{ m.estimated_content_length }}</td>
                <td>{{ m.has_closed_caption }}</td>
                <td>{{ m.what_you_will_learn }}</td>
                <td>{{ m.language }}</td>
                <td>{{ m.name }}</td>
                <td>{{ m.requirements }}</td>
                <td>{{ m.locale_description }}</td>
                <td>{{ m.category }}</td>
                <td>{{ m.primary_category }}</td>
                <td>{{ m.required_education }}</td>
                <td>
                    <div class="text-center">
                        <a href="#" id='{{m.id}}'>
                            <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:actualizar' m.id %}')" style="background: transparent; color: green; font-size: 20px;"><i class="fas fa-pencil-alt"></i></button>
                        </a>
                        <a href="#" id='{{m.id_course}}'>
                            <button class="btn" onclick = "abrir_modal_edicion('{% url 'cursos:eliminar' m.id_course %}')" style="background: transparent; color: red; font-size: 20px;"><i class="fas fa-trash"></i></button>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edicion" role="dialog">
    
</div>
<div class="modal fade" id="creacion" role="dialog">
    
</div>
<script>
$(document).ready(function() {
  
    var table = $('#example').DataTable({
        dom: 'Brtilp',
        scrollX: "true",
        responsive: "true",
        select: {
            style: 'multi'
        },
        buttons: [{
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i> ',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-success',
                exportOptions: {
                    columns: ':visible',
                    modifier: {
                        selected: true
                    }
                }
                
            },
            {
                extend:    'colvis',
                text:      '<i class="fas fa-columns"></i> ',
                titleAttr: 'Escoger columnas',
                columns: ':not(.noVis)',
                className: 'btn btn-success',
                columnText: function ( dt, idx, title ) {
            return (idx+1)+': '+title;
        }
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            }
            
            /*{
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> ',
                titleAttr: 'Imprimir',
                className: 'btn btn-info'
            },*/
            ,
        ],
    });

    // Apply the filter
    $("#example thead input").on( 'keyup change', function () {
        table
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw();
    } );
     
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
  
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
  
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );  

});


</script>

<script type="text/javascript">
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }

    function filterGlobal () {
    $('#example').DataTable().search(
        $('#global_filter').val(),
        $('#global_regex').prop('checked'),
        $('#global_smart').prop('checked')
    ).draw();
}
 
function filterColumn ( i ) {
    $('#example').DataTable().column( i ).search(
        $('#col'+i+'_filter').val(),
        $('#col'+i+'_regex').prop('checked'),
        $('#col'+i+'_smart').prop('checked')
    ).draw();
}
 
$(document).ready(function() {
    $('#example').DataTable();
 
    $('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    } );
 
    $('input.column_filter').on( 'keyup click', function () {
        filterColumn( $(this).parents('tr').attr('data-column') );
    } );
} );
    

</script>

{% endblock %}